<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!-- src/main/resources/templates/fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <div class="nav-left">
        <div class="logo">DAGO</div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Novedades</a></li>
                <li><a th:href="@{/hombre}">Hombre</a></li>
                <li><a th:href="@{/mujer}">Mujer</a></li>
            </ul>
        </nav>
    </div>
    <div class="nav-right">
        <a th:href="@{/carrito}" class="icon-link"> 🛒 Carrito </a>
        <a th:href="@{/usuario/registro}" class="icon-link"> 👤 Ingresa </a>
    </div>
</header>
</body>
</html>

